@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-black text-white;
	}

	@font-face {
		font-family: "Neue Montreal";
		src: url(/fonts/PPNeueMontreal-Medium.otf);
		font-weight: 530;
		font-style: normal;
	}
	@font-face {
		font-family: "Neue Montreal";
		src: url(/fonts/PPNeueMontreal-Bold.otf);
		font-weight: 800;
		font-style: normal;
	}

	@font-face {
		font-family: "Editorial Sans";
		src: url(/fonts/PPEditorialSans-Medium.otf);
		font-weight: 500;
		font-style: normal;
	}
}

@layer components {
	a {
		@apply text-violet-300;
	}
	h1,
	h2 {
		@apply pt-6 text-lg font-bold;
	}
	p {
		@apply pt-2;
	}
	ul {
		@apply list-inside list-disc pt-2;
	}
}
