@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-black text-white;
	}
	@font-face {
		font-family: "Neue Montreal";
		src: url(/fonts/PPNeueMontreal-Medium.otf);
	}
	@font-face {
		font-family: "Editorial Sans";
		src: url(/fonts/PPEditorialSans-Medium.otf);
	}
}

@layer components {
	a {
		@apply text-violet-300;
	}
}
